.reviews {
  height: 782px;
  background-color: var(--blue-bg-color);
  position: relative;
  width: 100vw;
  /*max-width: var(--max-width);*/
  /*margin: 0 auto;*/
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  /*align-content: center;*/
}

