.reviews {
  height: 782px;
  background-color: var(--blue-bg-color);
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .reviews {
    height: 500px;
  }
}

