.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.header__logo {
  width: 269px;
  height: 55px;
}

.header__nav {
  margin-right: 20px;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
  gap: 45px;
}

.header__nav-item {

}

.header__phone-block {
  display: flex;
  gap: 11px;
}
