.intro {
  height: 900px;
  width: 100%;
  color: var(--main-text-color);
  padding: 0 20px;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/bg.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.intro__info {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
}

.intro__time {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.06em;
  text-align: left;
}

.intro__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0;
  text-align: left;
  padding: 24px 0 40px;
}

.links-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  background-color: var(--blue-bg-color);
  border: none;
  padding: 38px 65px;
  color: var(--main-text-color);
}

.links-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.links-list li {
  width: 48px;
  height: 48px;
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}
